name: Deploy DigiVault

on:
  push:
    branches: [ main, master ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}
          script: |
            cd /var/www/digivault
            git checkout -- . && git pull origin master
            docker build --no-cache --network=host -t digivault:latest -f src/DigiVault.Web/Dockerfile .
            docker compose -f docker-compose.prod.yml stop web
            docker compose -f docker-compose.prod.yml up -d web
            docker compose -f docker-compose.prod.yml ps
            docker image prune -f
